<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2015 Braden Farmer

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.farmerbb.secondscreen"
    android:installLocation="internalOnly" >

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="com.farmerbb.taskbar.START_STOP_TASKBAR" />
    <uses-permission android:name="com.farmerbb.taskbar.ENABLE_DISABLE_HOME" />
    <uses-permission android:name="com.farmerbb.taskbar.ENABLE_DISABLE_FREEFORM" />

    <uses-permission android:name="com.farmerbb.taskbar.paid.START_STOP_TASKBAR" />
    <uses-permission android:name="com.farmerbb.taskbar.paid.ENABLE_DISABLE_HOME" />
    <uses-permission android:name="com.farmerbb.taskbar.paid.ENABLE_DISABLE_FREEFORM" />

    <uses-permission-sdk-23 android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission-sdk-23 android:name="com.farmerbb.secondscreen.support.USE_SUPPORT_LIBRARY"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:theme="@style/Theme.Secondscreen.2"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.farmerbb.secondscreen.activity.DebugModeActivity"
            android:excludeFromRecents="true"
            android:label="${appName}"
            android:theme="@style/Theme.Secondscreen.Dialog.List"
            android:documentLaunchMode="always" >
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.DisableKeyboardActivity"
            android:excludeFromRecents="true"
            android:label="${appName}"
            android:launchMode="singleInstance"
            android:documentLaunchMode="always"
            android:theme="@style/Theme.Secondscreen.Dialog"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.DummyLauncherActivity"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.FragmentContainerActivity"
            android:label="${appName}" >
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.HdmiActivity"
            android:excludeFromRecents="true"
            android:label="${appName}"
            android:launchMode="singleInstance"
            android:documentLaunchMode="always"
            android:theme="@style/Theme.Secondscreen.Dialog.List" >
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.HdmiProfileSelectActivity"
            android:label="${appName}"
            android:theme="@style/Theme.Secondscreen.Dialog.List" >
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.LockDeviceActivity"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Secondscreen.Incognito"/>
        <activity
            android:name="com.farmerbb.secondscreen.activity.MainActivity"
            android:label="${appName}"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.NotificationSettingsActivity"
            android:excludeFromRecents="true"
            android:label="${appName}"
            android:theme="@style/Theme.Secondscreen.Dialog.List"
            android:documentLaunchMode="always" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.QuickLaunchActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/label_load_profile"
            android:documentLaunchMode="always"
            android:theme="@style/Theme.Secondscreen.Dialog.List" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.RebootRequiredActivity"
            android:excludeFromRecents="true"
            android:label="${appName}"
            android:launchMode="singleInstance"
            android:documentLaunchMode="always"
            android:theme="@style/Theme.Secondscreen.Dialog"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.TaskerQuickActionsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/label_quick_actions"
            android:documentLaunchMode="always"
            android:theme="@style/Theme.Secondscreen.QuickActionsDialog" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.TaskerConditionActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/label_profile_active"
            android:documentLaunchMode="always"
            android:theme="@style/Theme.Secondscreen.Dialog.List" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.TurnOffActivity"
            android:excludeFromRecents="true"
            android:label="${appName}"
            android:launchMode="singleInstance"
            android:documentLaunchMode="always"
            android:theme="@style/Theme.Secondscreen.Dialog"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.UnableToStartActivity"
            android:excludeFromRecents="true"
            android:label="${appName}"
            android:launchMode="singleInstance"
            android:documentLaunchMode="always"
            android:theme="@style/Theme.Secondscreen.Dialog"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.farmerbb.secondscreen.activity.WriteSettingsPermissionActivity"
            android:excludeFromRecents="true"
            android:label="${appName}"
            android:launchMode="singleInstance"
            android:documentLaunchMode="always"
            android:theme="@style/Theme.Secondscreen.Dialog"
            android:configChanges="orientation|screenSize" >
        </activity>

        <receiver
            android:name="com.farmerbb.secondscreen.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.farmerbb.secondscreen.SIMULATE_REBOOT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.farmerbb.secondscreen.receiver.KeyboardChangeReceiver"
            android:exported="true" />
        <receiver android:name="com.farmerbb.secondscreen.receiver.LockDeviceReceiver"
                  android:label="${appName}"
                  android:enabled="false"
                  android:exported="true"
                  android:description="@string/device_admin_description_short"
                  android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                       android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.farmerbb.secondscreen.receiver.PackageUpgradeReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="com.farmerbb.secondscreen.SIMULATE_APP_UPGRADE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.farmerbb.secondscreen.receiver.TaskerActionReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.farmerbb.secondscreen.receiver.TaskerConditionReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.farmerbb.secondscreen.service.BootService"
            android:exported="true" >
        </service>
        <service
            android:name="com.farmerbb.secondscreen.service.DisableKeyboardService"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/disable_keyboard" />
        </service>
        <service
            android:name="com.farmerbb.secondscreen.service.DisplayConnectionService"
            android:exported="true" >
        </service>
        <service
            android:name="com.farmerbb.secondscreen.service.LockDeviceService"
            android:exported="true" >
        </service>
        <service
            android:name="com.farmerbb.secondscreen.service.NotificationService"
            android:exported="true" >
        </service>
        <service
            android:name="com.farmerbb.secondscreen.service.ProfileLoadService"
            android:exported="true" >
        </service>
        <service
            android:name="com.farmerbb.secondscreen.service.SafeModeToggleService"
            android:exported="true" >
        </service>
        <service
            android:name="com.farmerbb.secondscreen.service.ScreenOnService"
            android:exported="true" >
        </service>
        <service
            android:name="com.farmerbb.secondscreen.service.TempBacklightOnService"
            android:exported="true" >
        </service>
        <service
            android:name="com.farmerbb.secondscreen.service.TestOverscanService"
            android:exported="true" >
        </service>
        <service
            android:name="com.farmerbb.secondscreen.service.TimeoutService"
            android:exported="true" >
        </service>
        <service
            android:name="com.farmerbb.secondscreen.service.TurnOffService"
            android:exported="true" >
        </service>
    </application>

</manifest>
